/* Hero Slider */

.mainSlider .slick-arrow.slick-prev,
.mainSlider .slick-arrow.slick-next {
  padding: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 50%;
  z-index: 1;
}

.mainSlider .slick-prev {
  left: 5px;
}
.mainSlider .slick-next {
  right: 5px;
}

.mainSlider .slick-arrow.slick-prev:hover,
.mainSlider .slick-arrow.slick-next:hover {
  background: #cbd5e1;
}

/* Category Slider */

.category .slick-arrow.slick-prev,
.category .slick-arrow.slick-next {
  display: flex;
  align-items: center;
  z-index: 1;
}

.category .slick-track {
  display: flex;
  align-items: center;
}

.category .slick-slide {
  flex-shrink: 0;
}

.category .slick-prev {
  left: 0;
}
.category .slick-next {
  right: -13px;
}

/* Course List Slider */

.courseList .slick-arrow.slick-prev,
.courseList .slick-arrow.slick-next {
  padding: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 50%;
  z-index: 1;
}

.courseList .slick-arrow.slick-prev:hover,
.courseList .slick-arrow.slick-next:hover {
  background: #cbd5e1;
}

/* Testimonial Slider */

.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
  display: flex;
  align-items: center;
  z-index: 1;
}

.testimonial .slick-prev {
  left: 0;
}
.testimonial .slick-next {
  right: 0;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}
