.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}

/* .slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  background: #cbd5e1;
} */

.slick-prev::before,
.slick-next::before {
  display: none;
}
